<div class="bar">

<h2 class = heading>
  Transport type: <%= @transport.name %>
</h2>
</div>

<h3> About </h3>
<br><%= @transport.info %>
<br><br><br>


<%= image_tag @transport.image, :size => "30%"  %>
