<div class="bar">

<h1 class = heading> Application Sent! </h1>
</div>

<br>
<br>
<strong> House you've applied for: </strong>
<%= @h.title %><br>

<strong> Application you've sent:' </strong>
<%= @a.title %>
